*
{
    margin: 0;
    padding: 0;
}

nav 
{
    padding: 15px;
    background: #eee;
    color: #333;
}
p
{
    padding: 10px;
}
blockquote
{
    padding: 10px;
    border-left: 3px solid #333;
    font-weight: bold;
    margin: 15px;
}
.wrapper
{
    padding: 10px;
    margin: 0 10%;
}
.pim img
{
    border-radius:4px;
    float: left;
}
.pim {
    float: right;
}
hr
{
    border-style: dashed;
}
.sub
{
    color: #444;
    margin-left: 40px;
}